.home-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    background-color: #f1edfd;
    border-radius: 30px;
    padding: 50px;
  }
  
  .home-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ahead-text {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
  
  .home-head {
    font-size: 55px;
    margin-top: 10px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .app-and-rating {
    display: flex;
    align-items: center;
  }
  
  .app-store-image {
    width: 150px;
    margin-top: -20px;
    margin-right: 30px;
  }
  
  .five-star-image {
    width: 150px;
  }
  
  .rating {
    margin-top: 0px;
    font-size: 15px;
  }