.self-improvement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 100px;
  }
  
  .self-improvement-header {
    align-self: flex-start;
  }
  
  .self-improvement-top-title {
    font-size: 18px;
    color: #000000;
  }
  
  .self-improvement-title {
    font-size: 45px;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .self-improvement-timeline {
    width: 80%;
    padding: 10px;
  }
  
  .timeline-container {
    position: relative;
    padding: 20px;
    max-width: 500px;
  }
  
  .time-line-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 42px;
    background-color: #9182f7;
  }
  
  .timeline-title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
  }
  
  .timeline-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
  }
  
  .timeline-details {
    position: relative;
    left: 30px;
  }
  
  .timeline-container::after {
    content: "";
    position: absolute;
    width: 3px;
    top: 45px;
    left: 26px;
    height: 100%;
    background-color: #9182f7;
    z-index: -1;
  }
  
  .be-the-best-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .be-the-best-container h3 {
    font-size: 30px;
  }
  
  .be-the-best-container p {
    width: 30%;
    line-height: 30px;
    font-size: 18px;
  }